.description {
	font-size: 14px;
	color: #696969;
	padding: 0 20px 10px;
}

.label {
	font-size: 14px;
	color: #696969;
	margin: 5px 20px;
}

.new,
.previous {
	background-color: #f0f8ff;
	padding: 10px;
	font-size: 12px;
}

.newNotifications,
.prevNotifications {
	display: flex;
	flex-direction: column;
}

.notification {
	padding: 10px;
	cursor: pointer;
	border-bottom: 2px solid #f0f8ff;
}

.notifications {
	border: 2px solid #f8f8f8;
	border-radius: 5px;
	position: absolute;
	top: 50px;
	right: 150px;
	box-shadow: 0px 10px 20px #f0f0f0, 0px 6px 6px #f0f0f0;
}

.organization {
	font-size: 14px;
	color: #fff;
	height: 20px;
	width: 20px;
	padding: 5px 5px;
	background-color: #00008b;
	border-radius: 50%;
}

.organizationList {
	display: flex;
	justify-content: flex-end;
}

.time {
	color: #696969;
	font-size: 14px;
	position: absolute;
	right: 5px;
}

.title {
	font-weight: bold;
}

.titleTime {
	display: flex;
}
