.budget {
	font-weight: bold;
	font-size: 16px;
}

.container {
	margin: 30px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}

.counter {
	height: 18px;
	width: 18px;
	background: #0bb5ff;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -7px;
	right: -7px;
}

.header {
	display: flex;
	justify-content: flex-end;
	margin: 40px;
}

.icon {
	display: flex;
	justify-content: flex-end;
	position: relative;
	margin: 10px;
	width: 10%;
	cursor: pointer;
}

.user {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 10%;
}

.userName {
	font-size: 14px;
}

@media screen and (max-width: 1000px) {
	.user {
		width: 25%;
	}
}
